.ImageUploadPicturesWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 50vh;
}

.icon-loading {
  display: flex;
	height: 80vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.fileContainer  {
	box-shadow: 0px 0px 8px 0 rgb(0, 0, 0)!important;
	
	.uploadPictureContainer {
		width: 30%!important;
		margin: 1%!important;
	}
}
